body{
  background-color:#ffffff;
  font-family:"Source Sans Pro";
  width:100%;
  color:#928a88;
}

.App-header{
  top:5%;
  position:absolute;
  width:100%;
  
}


 /* Style the list */
 ul.Breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align:center;
}

/* Display list items side by side */
ul.Breadcrumb li {
  display: inline;
  font-size: 18px;
  font-size:3.5vh;
  
}

/* Add a slash symbol (/) before/behind each list item */
ul.Breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
 
}

/* Add a color to all links inside the list */
ul.Breadcrumb li a {
  color:#928a88;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.Breadcrumb li a:hover {
  color:#b8aec2;
} 

hr.new1 {
  width: 50%;
  height: 1px;
  opacity:0.5;
  margin-left: auto;
  margin-right: auto;
  background-color:#aeaaa9;
  border: 0 none;
}


.Mywork{
  position:absolute;
  top:20%;
  left:47%;
}