body{
  background-color:purple;
  font-family:"Source Sans Pro";
}

.App-header{
  top:0;
  position:absolute;
  width:100%;
  height:200px;
 
}


 /* Style the list */
 ul.Breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align:center;
}

/* Display list items side by side */
ul.Breadcrumb li {
  display: inline;
  font-size: 18px;
  font-size:3.5vh;
}

/* Add a slash symbol (/) before/behind each list item */
ul.Breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.Breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.Breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
} 